.about-page {
  color: #5a189a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

.dark-mode .about-page {
  color: #ececec;
}

/* STYLING FOR ABOUT BACKGROUND CARD */

.background-card {
  width: 80%;
  height: 100%;
  background-color: #ececec;
  border-radius: 15%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4),
    0px 7px 13px -3px rgba(0, 0, 0, 0.3),
    0px -3px 0px 0px rgba(0, 0, 0, 0.2) inset;
  position: relative;
  z-index: 0;
}

.dark-mode .background-card {
  background-color: #240046;
}


/* @media queries for responsive design */
@media (max-width: 768px) {
  .background-card {
    width: 80%;
    height: auto; 
  }
}

/* Additional @media queries for larger screens */
@media (min-width: 1200px) {
  .background-card {
    width: 80%;
    height: 100%; 
  }
}

/* ############################## */


/* STYLING FOR THE THREE ABOUT SECTIONS */

.about-layer.top-layer {
  width: 100%;
  position: relative;
  z-index: 1;
}

.about-layer.middle-layer {
  display: flex;
  flex-wrap: wrap; 
  flex-grow: 1;
  justify-content: center; 
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.about-layer.bottom-layer {
  flex-grow: 1;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* ############################## */

.about-title {
  font-size: 32px;
  font-family: 'Andale Mono', monospace;
  text-decoration: underline;
  color: #5a189a;
}

.dark-mode .about-title {
  color: #95F1D8;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Styling for headshot image*/

.about-image {
  max-width: 16vw;
  max-height: auto;
  border-radius: 50%;
  box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.2);
  transform: translateY(-1vw) translateZ(-2vw);
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-image:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-8px) translateZ(-25px);
}
/* ############################## */

/* Styling for about text */
.about-text {
  text-align: center;
  color: inherit;
  max-width: 35%;
  padding: 2rem;
  font-size: 1rem; /* Default font size for larger screens */
}

/* Media queries for responsive font size */
@media (max-width: 768px) {
  .about-text {
    font-size: 0.9rem; /* Adjust font size for medium-sized screens */
  }
}

@media (max-width: 480px) {
  .about-text {
    max-width: 80%; /* Adjust the maximum width for small screens */
    font-size: 0.8rem; /* Adjust font size for small screens */
  }
}
/* ############################## */

/* Button styling */

.about-me-buttons {
  display: inline flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.button-container {
  display: inline flex; 
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 10px; /* Adjust the flex values as needed */
  margin: 1rem;
  position: relative;
}

/* Styling for the button itself */
input[type="checkbox"] {
  height: 11vw; 
  width: 11vw;
  -webkit-appearance: none;
  box-shadow: 
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  position: absolute;
  /*transform: translate(-50%, -50%);*/
  border-radius: 50%; 
  border: 20px solid #ececec;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media queries for responsive icon size */
@media (max-width: 768px) {
  input[type="checkbox"] {
    height: 10vw; /* Adjust the size for medium-sized screens */
    width: 10vw; /* Adjust the size for medium-sized screens */
  }
  
  .user-icons {
    font-size: 2.5vw; /* Adjust the font size for medium-sized screens */
  }
}

@media (max-width: 480px) {
  input[type="checkbox"] {
    height: 8vw; /* Adjust the size for small screens */
    width: 8vw; /* Adjust the size for small screens */
  }
  
  .user-icons {
    font-size: 2vw; /* Adjust the font size for small screens */
  }
}

.dark-mode input[type="checkbox"] {
  border: 20px solid #240046;
  box-shadow: 
  -10px -10px 15px rgba(255, 255, 255, 0.05),
  10px 10px 15px rgba(0, 0, 0, 0.25);
}

/*set proeprties for when the button is clicked*/

input[type="checkbox"]:checked{
  box-shadow: 
  -10px -10px 15px rgba(255, 255, 255, 0.5),
  10px 10px 15px rgba(70, 70, 70, 0.12),
  inset -10px -10px 15px rgba(255, 255, 255, 0.5),
  inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.dark-mode input[type="checkbox"]:checked{
  box-shadow: 
  -10px -10px 15px rgba(255, 255, 255, 0.03),
  10px 10px 15px rgba(0, 0, 0, 0.25),
  inset -10px -10px 15px rgba(255, 255, 255, 0.03),
  inset 10px 10px 15px rgba(0, 0, 0, 0.25);
}

/*set properties for the icon inside the button*/



.user-icons:hover {
  color: #EB108D;
  transform: scale(1.2);
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  cursor: pointer;
}

/* Disable hover effect and change color when checkbox is checked */
input[type="checkbox"]:checked + label .user-icons {
  color: #7a7a7a;
  transform: scale(1);
}


