.contact-page {
    /*background-color: #cbb2fe; */
    color: #5a189a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .dark-mode .contact-page {
    /*background-color: black; */
    color: white;
  }

.social-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
  }
  