/* styles/Header.css */
.header {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.light-mode .header {
  background-color: #240046;
  color: #757bc8;
}

.dark-mode .header {
  background-color: black;
  color: #757bc8;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 3rem; /* Adjust the height of the navigation bar */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-family: 'Trattatello', cursive;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

/* Change the color of navigation links when hovering */
.nav-link:hover {
    color: #95F1D8; 
  }

.nav-link.active {
  border-bottom: 2px solid #757bc8;
}

/*STYLING FOR LIGHT-DARK MODE IMAGE */

.dark-mode-toggle {
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 3rem; /* move the image to the left */
    transition: filter 0.3s ease-in-out;
  
    /* Adjust the height and positioning of the image */
    position: relative;
    width: 80px; 
    height: auto; /* Maintain the aspect ratio */
    margin-top: 0.2rem;
    z-index: 1000;
  }
  
  .dark-mode-toggle img {
    width: 180px; /* Adjust the size of the image */
    height: auto; /* Maintain the aspect ratio */
  }
  
  .dark-mode-toggle:hover {
    filter: brightness(0.8);
  }

  
  
  
  